$border-radius: 6px; 
$text-shadow: 1px 1px 1px #000;
$box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.9);
$button-box-shadow: 0 3px 6px rgba(83, 19, 19, 0.15);
$hover-color: rgb(214, 176, 4);
$elevation: rgb(32, 102, 90);
$elevation2: rgb(0, 35, 49);